<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <link rel="stylesheet" href="styles/sb.css">

    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

</head>
<body>
    <div class="container">
        <header>Academic Register</header>

        <<form action="/acad" method="post">
            <div class="form first">
                <div class="details personal">
                    <span class="title">Courses</span>

                    <div class="fields">
                        <div class="input-field">
                            <!-- <label>Full Name</label> -->
                            <input type="text" placeholder="Course 1" name="c1">
                        </div>

                        <div class="input-field">
                            <!-- <label>Date of Birth</label> -->
                            <input type="text" placeholder="Course 2" name="c2">
                        </div>

                        <div class="input-field">
                            <!-- <label>Email</label> -->
                            <input type="text" placeholder="Course 3" name="c3">
                        </div>
                        <div class="input-field">
                            <!-- <label>Email</label> -->
                            <input type="text" placeholder="Course 4" name="c4">
                        </div>
                    </div>
                        <span class="title">Academic Awards</span>
                        

                        <div class="fields">
                        <div class="input-field">
                            <input type="text" placeholder="Award 1" name="aw1">
                        </div>

                        <div class="input-field">
                            <input type="text" placeholder="Award 2" name="aw2">
                        </div>

                        <div class="input-field">
                            <input type="text" placeholder="Award 3" name="aw3">
                        </div>
                    </div>

                    <span class="title">Research work contribution</span>
                    <div class="fields">
                        <div class="input-field">
                            <input type="text" placeholder="Paper 1" name="pap1">
                        </div>

                        <div class="input-field">
                            <input type="text" placeholder="Paper 2" name="pap2">
                        </div>

                        <div class="input-field">
                            <input type="text" placeholder="Paper 3" name="pap3">
                        </div>
                    </div>

                    <span class="title">Google Drive link for proof of information</span>
                    <div class="fields">
                        <div class="input-field">
                            <input type="text" placeholder="Link" name="doc" required>
                        </div>
                    </div>
                </div>
                <button class="sumbit">
                    <span class="btnText">Submit</span>
                    <i class="uil uil-navigator"></i>
                </button>
            </div>
        </form>
    </div>

    <script src="styles/sb.js"></script>
</body>
</html>
