<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap" rel="stylesheet">
    <title>Account created</title>
    <link rel="stylesheet" href="styles/error.css">
</head>
    
    <body>
      <div class="card">
      <div style="border-radius:200px; height:200px; width:200px; background: #c62626; margin:0 auto;">
        <strong class="checkmark">✖</strong>
      </div>
        <h1>Error</h1> 
        <p><%=message%></p>
        <br>
        <a href="/<%=code%>"><button class="btn">Click Here</button></a>
      
    </div>
    </body>
</html>
