<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>
   <link rel="stylesheet" href="">
   <link rel="stylesheet" href="/styles/style.css">
   <title>IIITApfolio</title>
</head>
<body>
   <input type="checkbox" id="check">
   <section>
      <div class="navbar">
         <div class="logo">
            <img src="/images/IIITA_Logo.png" style="width: 60px; height: 50px; margin-top: 0px; padding-right:10px ;" alt="">
            IIITApfolio</div>
         <ol class="menuitems">
            <li><a href="/signup">Student Login</a></li>
            <li><a href="/adminlog">Admin Dashboard</a></li>
            <li><a href="/home">Dashboard</a></li>
            <li><a href="/review">Review us</a></li>
         </ol>
         <label for="check" class="fa fa-bars"></label>
      </div>

      <div class="container">
         <div class="text_container">
            <h2>Search<br>Portfolio</h2>
            <div class="search_container" style="width: 265px">
               <form action="/search" method="post" class="search_form" style="width: 265px;">
               <input type="search" placeholder="Enter email id" name="id" required>
               <button type="submit">Search</button>
             </form>
             </div>
           
            
         </div>
         
         <div class="image_container">
            <div class="imgbox">
               <img class="image1" src="/images/Group63.svg" alt="user pic">
               <img class="image2" src="/images/6310506.svg" alt="user pic">
            </div>
            <span class="animblob"></span>
         </div>
      </div>
      

   </section>
</body>
</html>
