<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <link rel="stylesheet" href="styles/sb.css">

    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

</head>
<body>
    <div class="container">
        <header>Non-Academic Achievements</header>

        <<form action="/nacad" method="post">
            <div class="form first">
                <div class="details personal">
                    <span class="title">Projects(Format: Name/Techstack/Status/Subject)</span>

                    <div class="fields">
                        <div class="input-field">
                            <input type="text" placeholder="Project 1" name="p1">
                        </div>

                        <div class="input-field">
                            <input type="text" placeholder="Project 2" name="p2">
                        </div>

                        <div class="input-field">
                            <input type="text" placeholder="Project 3" name="p3">
                        </div>

                        <div class="input-field">
                            <input type="text" placeholder="Project 4" name="p4">
                        </div>
                    </div>

                        <span class="title">Coding Profiles</span>
                        
                        <div class="fields">
                        <div class="input-field">
                            <input type="text" placeholder="Leetcode" name="cp1">
                        </div>

                        <div class="input-field">
                            <input type="text" placeholder="Codeforces" name="cp2">
                        </div>

                    </div>

                    <span class="title">Coding Achievements</span>
                    <div class="fields">
                        <div class="input-field">
                            <input type="text" placeholder="Achievement 1" name="cpa1">
                        </div>

                        <div class="input-field">
                            <input type="text" placeholder="Achievement 2" name="cpa2">
                        </div>

                        <div class="input-field">
                            <input type="text" placeholder="Achievement 3" name="cpa3">
                        </div>
                    </div>

                    <span class="title">Hackathons</span>
                    <div class="fields">
                        <div class="input-field">
                            <input type="text" placeholder="Hackathon 1" name="ha1">
                        </div>

                        <div class="input-field">
                            <input type="text" placeholder="Hackathon 2" name="ha2">
                        </div>
                    </div>

                    <span class="title">Co-curricular Achievements</span>
                    <div class="fields">
                        <div class="input-field">
                            <input type="text" placeholder="Achievement 1" name="cca1">
                        </div>

                        <div class="input-field">
                            <input type="text" placeholder="Achievement 2" name="cca2">
                        </div>

                        <div class="input-field">
                            <input type="text" placeholder="Achievement 3" name="cca3">
                        </div>

                        <div class="input-field">
                            <input type="text" placeholder="Achievement 4" name="cca4">
                        </div>

                        <div class="input-field">
                            <input type="text" placeholder="Achievement 5" name="cca5">
                        </div>
                    </div>

                    <span class="title">Internships(If Any)(Format: Company/Duration/Worked on)</span>

                    <div class="fields">
                        <div class="input-field">
                            <input type="text" placeholder="Intern 1" name="i1">
                        </div>

                        <div class="input-field">
                            <input type="text" placeholder="Intern 2" name="i2">
                        </div>
                    </div>
                   
                    <span class="title">Google Drive link for proof of information</span>
                    <div class="fields">
                        <div class="input-field">
                            <input type="text" placeholder="Link" name="doc" required>
                        </div>
                    </div>

                </div>
                <button class="sumbit">
                    <span class="btnText">Submit</span>
                    <i class="uil uil-navigator"></i>
                </button>
            </div>
        </form>
    </div>

    <script src="styles/sb.js"></script>
</body>
</html>