<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/styles/validate.css" />

    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
    <!-- https://unicons.iconscout.com/release/v4.0.0/css/line.css -->

    <title>Admin Dashboard Panel</title>
  </head>
  <body>
    <nav>
      <div class="logo-name">
        <div class="logo-image">
          <img src="images/IIITA_Logo.png" alt="" />
        </div>

        <span class="logo_name">IIITApfolio</span>
      </div>

      <div class="menu-items">
        <ul class="nav-links">
          <li><a href="/">
            <i class="uil uil-home"></i>
            <span class="link-name">Home</span>
          </a></li>
          
          <li>
            <a href="/adminlog">
              <i class="uil uil-estate"></i>
              <span class="link-name">Dashboard</span>
            </a>
          </li>
          <li>
            <a href="/valid">
              <i class="uil uil-comment-verify"></i>
              <span class="link-name">Validate Request</span>
            </a>
          </li>
          <li>
            <a href="/decline">
              <i class="uil uil-file-lanscape-slash"></i>
              <span class="link-name">Reject Request</span>
            </a>
          </li>
        </ul>

        <ul class="logout-mode">
          <li>
            <a href="#">
              <i class="uil uil-signout"></i>
              <span class="link-name">Logout</span>
            </a>
          </li>

          <li class="mode">
            <a href="#">
              <i class="uil uil-moon"></i>
              <span class="link-name">Dark Mode</span>
            </a>

            <div class="mode-toggle">
              <span class="switch"></span>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <section class="dashboard">
      <div class="top">
        <i class="uil uil-bars sidebar-toggle"></i>

        

        <img src="images/profile.jpg" alt="" />
      </div>

      <div class="dash-content">
        <main>
          <div class="box">
            <form
              action="/decline"
              method="post"
              autocomplete="off"
              class="sign-in-form"
            >
              <div class="heading"></div>
              <div class="actual-form">
                <h2 class="heading" style="text-align: center">Enter Id</h2>
                <div class="input-wrap">
                  <input
                    type="text"
                    class="input-field"
                    autocomplete="off"
                    name="id"
                    required
                  />
                  <label>Search</label>
                </div>

                <input type="submit" value="Decline Request" class="sign-btn" />
              </div>
            </form>

            <form
              action="index.html"
              autocomplete="off"
              method="post"
              class="sign-up-form"
            ></form>
          </div>
        </main>
      </div>
    </section>
    <script src="script.js"></script>
  </body>
</html>
