<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <link rel="stylesheet" href="/styles/sb.css">

    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

</head>
<body>
    <div class="container">
        <header>Registration</header>

        <form action="/sb" method="post">
            <div class="form first">
                <div class="details personal">
                    <span class="title">Basic Details</span>

                    <div class="fields">
                        <div class="input-field">
                            <label>Full Name</label>
                            <input type="text" placeholder="Enter your name" name="name" required>
                        </div>

                        <div class="input-field">
                            <label>Enter your role</label>
                            <input type="text" placeholder="Enter your role" name="role" required>
                        </div>

                        <div class="input-field">
                            <label>About You</label>
                            <input type="text" placeholder="Brief yourself" name="about_me" required>
                        </div>

                        <div class="input-field">
                            <label>Email</label>
                            <input type="text" placeholder="Enter your email" name="email" required>
                        </div>

                         <div class="input-field">
                            <label>Mobile Number</label>
                            <input type="number" placeholder="Enter mobile number" name="phone" required>
                        </div> 


                        <div class="input-field">
                            <label>Address</label>
                            <input type="text" placeholder="Enter your Address" name="address" required>
                        </div>

                        <div class="input-field">
                            <label>10th Grade</label>
                            <input type="text" placeholder="Enter 10th boards marks" name="ten_marks" required>
                        </div>

                        <div class="input-field">
                            <label>12th Grade</label>
                            <input type="text"placeholder="Enter 12th boards marks" name="twelve_marks" required>
                        </div>

                        <div class="input-field">
                            <label>Current Semester & Branch</label>
                            <input type="text" placeholder="Enter your Current Semester and Branch " name="cur_sem" required>
                        </div>

                        
                        <div class="input-field">
                            <label>Enter CGPA</label>
                            <input type="text" placeholder="Enter your CGPA" name="cur_cgpa" required>
                        </div>

                        <div class="input-field">
                            <label>Enter linkedin profile</label>
                            <input type="text" placeholder="linkedin" name="linkedin" >
                        </div>

                        <div class="input-field">
                            <label>Enter twitter profile</label>
                            <input type="text" placeholder="twitter" name="twitter" >
                        </div>

                        <div class="input-field">
                            <label>Enter Github profile</label>
                            <input type="text" placeholder="github" name="github" >
                        </div><br>
                        <button class="sumbit">
                            <span class="btnText">Submit</span>
                            <i class="uil uil-navigator"></i>
                        </button>

                    </div>
                </div>

                
                <!-- <button class="sumbit">
                    <span class="btnText">Submit</span>
                    <i class="uil uil-navigator"></i>
                </button> -->
            </div>
        </form>
    </div>

    <script src="/styles/sb.js"></script>
</body>
</html>
