<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <link rel="stylesheet" href="/styles/sb.css">

    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

</head>
<body>
    <div class="container">
        <header>ShowCase your skills with us</header>

        <form action="/skills" method="post">
            <div class="form first">
                <div class="details personal">
                    <span class="title">Skills(Format: Skill(space)(1-100))</span>

                    <div class="fields">
                        <div class="input-field">
                            <label>1st Skill</label>
                            <input type="text" placeholder="Enter skill" name="one" >
                        </div>

                        <div class="input-field">
                            <label>2nd Skill</label>
                            <input type="text" placeholder="Enter skill" name="two" >
                        </div>

                        <div class="input-field">
                            <label>3rd Skill</label>
                            <input type="text" placeholder="Enter skill" name="three" >
                        </div>

                        <div class="input-field">
                            <label>4th Skill</label>
                            <input type="text" placeholder="Enter skill" name="four" >
                        </div>

                        <div class="input-field">
                            <label>5th Skill</label>
                            <input type="text" placeholder="Enter skill" name="five" >
                        </div>
                        
                    </div>
                </div>

                
                <button class="sumbit">
                    <span class="btnText">Submit</span>
                    <i class="uil uil-navigator"></i>
                </button>
            </div>
        </form>
    </div>

    <script src="/styles/sb.js"></script>
</body>
</html>
